# Get these by running 'id' on your Debian server
PUID=1000
PGID=1000
TZ=Europe/London

# ProtonVPN Credentials (Wireguard)
# You get this from the ProtonVPN Dashboard -> Account -> OpenVPN/WireGuard copy-paste
PROTON_PRIVATE_KEY=YOUR_ACTUAL_PRIVATE_KEY_HERE

# The mount point we will use on the server
HDD_MOUNT=/mnt/media_storage
