PUID=1000
PGID=1000
TZ=Europe/London

# ProtonVPN
WIREGUARD_PRIVATE_KEY=your_key_here
SERVER_COUNTRIES=Netherlands

# Paths
HDD_MOUNT=/mnt/media_storage

# pCloud (for the backup script)
RCLONE_REMOTE_NAME=pcloud
RCLONE_DESTINATION_PATH=Backups/Jellyfin
