PUID=1000
PGID=1000
TZ=Europe/London

# ProtonVPN
VPN_SERVICE_PROVIDER=protonvpn
WIREGUARD_PRIVATE_KEY=<your-key-here--ends-with-/=/>
SERVER_COUNTRIES=Netherlands
VPN_TYPE=wireguard
PORT_FORWARD_ONLY=on
VPN_PORT_FORWARDING=on
VPN_PORT_FORWARDING_PROVIDER=protonvpn

# Paths
HDD_MOUNT=/mnt/media_storage

# pCloud (for the backup script)
RCLONE_REMOTE_NAME=pcloud
RCLONE_DESTINATION_PATH=backups/jellyfin

# Auth stuff for monitoring jellyfin and qbittorrent
JELLYFIN_API_KEY=your_copied_api_key_here
QBIT_USERNAME=admin
QBIT_PASSWORD=your_qbittorrent_password_here
